body {
    background: url(./img/58e7f43ebac0854442ca34dad8bc8561.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: rgb(241, 219, 189);
    font-family: cursive;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.clock {
    color: rgb(65, 209, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#date {
    display: flex;
    justify-content: center;
    font-family: monospace !important;
}
#time{
    font-size: 70px;
    display: flex;
    justify-content: center;
    font-family: monospace !important;
}
.modal-content{
    color: black;
    padding: 10px;
}
.time{
    display: flex;
    justify-content: space-between;
}
.droupdown{
    margin: 5px;
}
.modal-start{
    width: 50%;
}
.alrm-name{
    margin-bottom: 20px;
}
.alarm-modal{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: space-around;
}
.btn-color{
    background-color: rgb(65, 209, 214);
    
}
.btn-color:hover{
    background-color: rgb(65, 209, 214);
    opacity: 0.8;
}
.set-alarm-btn{
    background-color: rgb(65, 209, 214);
    color: aliceblue;

  

}
.set-alarm-btn:hover{
    background-color: rgb(65, 209, 214);
    color:aliceblue;


}